___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Hiearchal Clustering

In [1]:
import pandas as pd

In [8]:
df = pd.read_excel('C://Users/Marcial/Downloads/Data_User_Modeling_Dataset_Hamdi Tolga KAHRAMAN.xls')

In [9]:
df

,Data Set Characteristics: Multivariate,Unnamed: 1,Attribute Information:
0,Number of Instances: 403,NaN,STG (The degree of study time for goal object ...
1,Area: Education,NaN,SCG (The degree of repetition number of user f...
2,Attribute Characteristics: Real,NaN,STR (The degree of study time of user for rela...
3,Number of Attributes: 5,NaN,LPR (The exam performance of user for related ...
4,Associated Tasks: Classification,NaN,PEG (The exam performance of user for goal obj...
5,NaN,NaN,UNS (The knowledge level of user)
6,Class Distribution,NaN,NaN
7,Very Low: 50,NaN,NaN
8,Low:129,NaN,NaN
9,Middle: 122,NaN,NaN
10,high 130,NaN,NaN
11,Total:403,NaN,NaN